@font-face {
  font-family: Samsung;
  src: url('./fonts/samsungsharpsans-bold.otf');
}

/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8.5px;
  }
}

body {
  margin: 0;
}