@import './Colors.scss';

.card {
  margin-top: 2rem;
  font-size: 1.7rem;
  padding: 0 1.5rem;
  display: grid;

  .music-search-tabs {    
    font-size: 1.8rem;
    font-weight: 400;
  }

  .formTitle {
    font-size: 2.2rem;
    font-weight: 70rem;
    margin: 1.5rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;

    .webSearch {
      position: center;
      display: flex;
      align-items: center;
      width: auto;

      .input {
        margin-left: 1rem;
        padding: 0.5rem;
        flex: 1;
        font-size: 2rem;
        font-weight: 700;
      }

    }
  }

  .guide {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;

    .menuItem {
      font-size: 1.7rem;
      font-weight: 500;
    }
  }

  .submitBtn {
    margin-top: 3rem;
    font-size: 2rem;
    color: white;
    
  }

  $t: 0.5s;
  $s: 1.1;

  #music {
    background-color: $musicBlue;
    transition: $t;
    &:hover {
      background-color: $musicBlue;
      transform: scale($s);
      transition: $t;
    }
  }
  #movie {
    background-color: $movieRed;
    transition: $t;
    &:hover {
      background-color: $movieRed;
      transform: scale($s);
      transition: $t;
    }
  }
  #book {
    background-color: $bookGreen;
    transition: $t;
    &:hover {
      background-color: $bookGreen;
      transform: scale($s);
      transition: $t;
    }
  }

  .menuItem {
    font-size: 1.7rem;
    font-weight: 500;
  }
}

