.appBar {
  flex-grow: 1;

  .appBarBackground {
    background: transparent;
    position: fixed;
    box-shadow: none;
    backdrop-filter: blur(10px) brightness(70%);
    -webkit-backdrop-filter: blur(10px) brightness(70%);

    .title {
      font: {
        family: Samsung;
        size: 2rem;
        weight: 900;
      }
      flex-grow: 1;
      position: flex;

      .link {
        text-decoration: none;
      }
    }
  }
}

.MuiBackdrop-root {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}