@mixin appbarTypo {
  .title {
    font: {
      family: Samsung;
      size: 2rem;
      weight: 900;
    }
    flex-grow: 1;
    position: flex;

    .link {
      text-decoration: none;
    }
  }
}

.appBar {
  flex-grow: 1;

  .blurredAppbar {
    position: fixed;
    box-shadow: none;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    border-bottom: 0.05rem solid rgba(0, 0, 0, 0.2);

    @include appbarTypo();
  }

}

#lightMode {
  background: rgba(255, 255, 255, 0.6);
}

#darkMode {
  background: rgba(0, 0, 0, 0.6);
}

.MuiBackdrop-root {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}