@import './Colors.scss';

.header {
  padding-top: 8rem;
  padding-bottom: 3rem;

  .title {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .subtitle {
    font-size: 1.7rem;
    font-weight: 500;
    color: slategrey;
  }

  .btnAlign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .mediaBtn {
      transition-duration: 0.8s;
      text-align: right;
      font-size: 1.7rem;
      font-weight: 700;
      color: white;
      margin-bottom: 1rem;
      width: 6.5rem;
      height: 4rem;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
    #music {
      background-color: $musicBlue;
    }
    #movie {
      background-color: $movieRed;
    }
    #book {
      background-color: $bookGreen;
    }

    .logoutBtn {
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 1rem;
      background-color: white;
      transition: 0.5s;
      &:hover {
        background-color: white;
        transform: scale(1.06);
        transition: 0.5;
      }
    }

  }

  .divider {
    margin-top: 1rem;
  }
}

.form {
  .searchBar {
    margin: 1.5rem 0rem 1.5rem 0rem;
    padding-left: 1rem;
    position: center;
    display: flex;
    align-items: center;
    width: auto;
    transition: 0.5s;
    &:hover {
      transform: scale(1.01);
      transition: 0.5s;
    }
    
    .input {
      flex: 1;
      padding: 0.5rem;
      font-size: 1.7rem;
      font-weight: 500;
    }
    .iconButton {
      padding: 1rem;
    }
  }
}

.filter {
  margin: 2rem 0rem 3rem 0rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;

  .category {
    display: relative;
    font-weight: 300;
  
    .menuItem {
      font-size: 1.7rem;
      font-weight: 500;
    }
  }

  #music {
    color: $musicBlue;
  }
  #movie {
    color: $movieRed;
  }
  #book {
    color: $bookGreen;
  }
}