@import './Colors.scss';

.myPage {
  font-size: 1.7rem;
  margin-top: 10rem;
  padding: 0rem 1rem 3rem 1rem;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);
  background-color: white;

  .accountIconAlign {
    display: flex;
    flex-direction: column;
    align-items: center;

    .accountIcon {
      color: midnightblue;
      margin-top: -8rem;
      width: 16rem;
      height: 16rem;
    }
  }

  .userName {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
  }
  .userDescription {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
  }

  .formAlign {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userEditForm {
      width: 40rem;
    }
    .userEditSaveBtn {
      margin-top: 0.5rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: $musicBlue;
    }
  }
  

  .contentTabs {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.myPageSubtitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1.5rem;
}
#myPageMusicSub {
  color: $musicBlue;
}
#myPageMovieSub {
  color: $movieRed;
}
#myPageBookSub {
  color: $bookGreen;
}